.background{
  background-image:url("res://bg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.form{
  background-color:rgba(14,22,20,0.4);
  margin-top:5%;
  margin-left:10%;
  margin-right:10%;
  padding:25%;
  color:white;
}
.field{
  color:white;
  padding:35%;
}
.f-white{
  color:white;
  placeholder-color:white;
}
.center{
  text-align:center;
}
.btn-start{
  background-color:rgb(46,204,113);
  width:50%;
}
