  <StackLayout #background class="background">
    <Stacklayout #background class="form" >
      <StackLayout class="field">
        <TextField hint="Email Address" keyboardType="email"
        autocorrect="false" autocapitalizationType="none" class="f-white"></TextField>
        <TextField hint="Password" secure="true" class="f-white"></TextField>
      </StackLayout>

      <StackLayout class="field">
        <Button text="Sign in" [nsRouterLink]="['/home']" class="btn-login"></Button>
      </StackLayout>
    </Stacklayout>
  </StackLayout>
